<h2>Sign in</h2>
<form action="/auth/signin" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <button>Sign in</button>
</form>