<form method="post" action="/dashboard/artist" class="form" enctype="multipart/form-data">
    <h1  class="title">artist create</h1>
    <label for="name" class="label">name</label>
    <input class="input" type="text" id="name" name="name" value="test artist">

    <label for="description" class="label">is a band ? <input type="checkbox" name="isBand"></label>

    <label for="picture" class="label">
        choose a picture
        <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
    </label>
    <input class="is-hidden" type="file" id="picture" name="picture">

    <label for="description" class="label">description</label>
    <textarea type="text" class="input" id="description" name="description">
        test description
    </textarea>

    <button class="btn">create</button>
</form>