<h1 class="title">Dashboard</h1>

<p>
    Welcome to your admin panel.
</p>

<hr>

<nav id="nav-dashboard">
    <a href="/dashboard/artist" class="link artist" title="list all artists"><i class="fa fa-list"></i> artists</a> |
    <a href="/dashboard/artist/create" class="link artist" title="create one artist"><i class="fa fa-plus"></i>
        artist</a> |

    <a href="/dashboard/album" class="link album" title="list all albums"><i class="fa fa-list"></i> albums</a> |
    <a href="/dashboard/album/create" class="link album" title="create one album"><i class="fa fa-plus"></i> album</a> |

    <a href="/dashboard/label" class="link label" title="list all labels"><i class="fa fa-list"></i> labels</a> |
    <a href="/dashboard/label/create" class="link label" title="create one label"><i class="fa fa-plus"></i> label</a> |

    <a href="/dashboard/style" class="link style" title="list all styles"><i class="fa fa-list"></i> styles</a> |
    <a href="/dashboard/style/create" class="link style" title="create one style"><i class="fa fa-plus"></i> style</a> |
</nav>

<hr>

<div id="stats">
    <h2 class="title">Available resources in database</h2>
    <div class="count">
        Artists: {{artistsCount}}
    </div>
    <div class="count">
        Labels: {{labelsCount}}
    </div>
    <div class="count">
        Styles: {{stylesCount}}
    </div>
</div>