<h1>All artists</h1>

<div class="cards">
    {{#each artists}}
    <div class="card artist" style="background-image: url({{this.picture}}">
        <a href="/artist/{{this._id}}">
            {{this.name}}
        </a>
        <p>
            {{this.style.name}}
        </p>
    </div>
    {{/each}}
</div>