@import url("https://overpass-30e2.kxcdn.com/overpass-mono.css");
@import url("./mod.message.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir;
  max-width: 1280px;
  margin: auto;
  box-shadow: 0px 1.2px 1.9px #000;
  min-height: calc(100vh - 2px);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 10px 0;
  padding: 10px 0;
}

img.preview {
  max-width: 300px;
}

img.thumbnail {
  max-width: 48px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.is-hidden {
  display: none !important;
}

.row.artist,
.row.album,
.row.label,
.row.style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.row.artist .infos,
.row.album .infos,
.row.style .infos,
.row.label .infos {
  display: flex;
  align-items: center;
}

.row .btns > * {
  cursor: pointer;
}

.title {
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: overpass-mono;
}

#logo-main a {
  font-size: 1.4rem;
  color: white;
  font-family: overpass-mono;
}

#header-main {
  padding: 5px 20px;
  background: #101;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-main .link {
  color: whitesmoke;
}

#header-main .link:hover {
  color: dodgerblue;
}

#search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 32px;
  margin-bottom: 20px;
}

#search-bar .input {
  flex: 1;
  padding: 5px 0 5px 20px;
  outline: none;
}

#search-bar .btn {
  flex: 0 0 32px;
  height: inherit;
  outline: none;
}

#content-main {
  padding: 5px 20px;
}

.link.album {
  color: #9c27b0;
}

.link.artist {
  color: #8bc34a;
}

.link.label {
  color: #ff9800;
}

.link.style {
  color: dodgerblue;
}

.table {
  width: 100%;
  max-width: 748px;
  min-width: 300px;
}

.table,
.table .cell {
  border-collapse: collapse;
  border: 1px solid;
}

.table .cell {
  padding: 10px;
  text-align: center;
}

.table .cell.image,
.table .cell.logo,
.table .cell.picture {
  background-size: cover;
  background-repeat: no-repeat;
}

.table .cell.color .box {
  height: 24px;
  width: 24px;
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: minmax(280px, auto);
  gap: 20px;
}

.cards .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 0.3rem;
  box-shadow: 0.1px 0.8px 3px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  filter: grayscale(1);
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

.cards .card a {
  text-shadow: 0.3px 0.8px 2px black;
}
